main .section-main{
display: flex;
justify-content: space-between;
flex-wrap: wrap;

}
main .product-one{

}
main .title-one{

}
main .text-one{

}
main .product-two{

}
main .title-two{

}
main .text-two{

}
main .product-tree{

}
main .title-tree{

}
main .text-tree{

}
main .product-four{

}
main .title-four{

}
main .text-four{

}
main .product-five{

}
main .title-five{

}
main .text-five{

}
main .product-six{

}
main .title-six{

}
main .text-six{

}
main .last-section{

}
main .last-title{

}
main .last-div{

}
main .last-two{

}
main .last-two{

}